################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OceanicProject/bin
/OceanicProject/obj/Debug
/.vs/OceanicProject
/packages
